.c-activites {
    padding: 40px 0px;
    background-image: url(../../dist/images/bg.jpg);
    background-repeat: repeat;
    &::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 30px;
        background-image: url(../../dist/images/border-top.png);
        background-position: bottom;
        margin-top: -69px;
    }
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 30px;
        background-image: url(../../dist/images/border-bottom.png);
        background-position: bottom;
        margin-top: 40px;
    }
    h1 {
        text-align: center;
        font-size: 24px;
        padding-bottom: 15px;
        @include media(md) {
            font-size: 30px;
        }
        &::after {
            content: "";
            width: 300px;
            height: 5px;
            background-image: url(../../dist/images/hr.png);
            background-repeat: no-repeat;
            display: block;
            margin: 10px auto;
        }
    }
    h6 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    img {
        width: 100%;
        display: block;
        margin: 0px auto;
        margin-bottom: 15px;
    }
    .c-btn {
        display: table;
        margin: 0px auto;
        margin-top: 30px;
    }
    .g-border  {
        width: 95%;
        margin-left: -5px;
        margin-top: -5px;
        position: absolute;
        @include media(xs) {
            width: 100%;
            margin-left: -15px;
            margin-top: -5px;
        }
        @include media(md) {
            width: 95%;
            margin-left: -5px;
            margin-top: -5px;
        }
    }
}
