.c-amenities {
    background-color: color('blue');
    margin-top: 0px;
    padding: 80px 0px;
    padding-bottom: 100px;
    h1 {
        color: color('white');
        text-align: center;
        font-size: 24px;
        padding-bottom: 15px;
        @include media(md) {
            font-size: 30px;
        }
        &::after {
            content: "";
            width: 300px;
            height: 5px;
            background-image: url(../../dist/images/hr.png);
            background-repeat: no-repeat;
            display: block;
            margin: 10px auto;
        }
    }
    p {
        color: color('white');
        text-align: left;
        font-size: 18px;
        @include media(md) {
            font-size: 20px;
        }
    }
    .c-btn {
        display: table;
        margin-left: 0px;
        margin-right: auto;
        margin-top: 20px;
    }
    .g-border  {
        width: 95%;
        margin:0px;
        position: absolute;
        margin-left: -5px;
        margin-top: -5px;
        @include media(xs) {
            margin-left: -15px;
            margin-top: -7px;
            width: 100%;
        }
    }
}
