.c-btn {
    display: inline-block;
    padding: rem(5px) rem(20px);
    color: color('white');
    background-color: none;
    border: none;
    text-decoration: none;
    font-size: rem(16px);
    line-height: 36px;
    font-family: $bowlbyone;
}
.c-btn--medium {
    background-color: color('brown');
    &:hover {
        background-color: color('brown', 'medium');
    }
}
.c-btn--dark {
    background-color: color('brown', 'medium');
    &:hover {
        background-color: color('brown');
    }
}
