.c-discount {
    position: relative;
    z-index: 9;
    padding: 40px 0px;
    background-image: url(../../dist/images/bg.jpg);
    background-repeat: repeat;
    &::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 30px;
        background-image: url(../../dist/images/border-top.png);
        background-position: bottom;
        margin-top: -69px;
    }
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 30px;
        background-image: url(../../dist/images/border-bottom.png);
        background-position: bottom;
        margin-top: 40px;
    }
    h1 {
        text-align: center;
        font-size: 24px;
        padding-bottom: 15px;
        @include media(md) {
            font-size: 30px;
        }
        &::after {
            content: "";
            width: 300px;
            height: 5px;
            background-image: url(../../dist/images/hr.png);
            background-repeat: no-repeat;
            display: block;
            margin: 10px auto;
        }
    }
    .o-container .o-row .o-col .o-row {
        h1 {
            font-size: 36px;
            color: color('brown', 'medium');
            &::after {
                display:none;
            }
        }
    }
    h6, p {
        text-align: center;
    }
    .c-btn {
        display: table;
        margin: 0px auto;
        margin-top: 20px;
    }
}
