footer {
    background-image: url(../../dist/images/bg.jpg);
    background-repeat: repeat;
    position: relative;
    z-index: 9;
    padding: 40px 0px;
    &::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 30px;
        background-image: url(../../dist/images/border-top.png);
        background-position: bottom;
        margin-top: -60px;
    }
    h5 {
        color: color('brown', 'medium');
        font-size: 18px;
        padding-bottom: 20px;
    }
    .c-footer__menu {
        display: none;
        @include media(xs) {
            display: block;
        }
        ul {
            list-style: none;
            li {
                margin-bottom: 10px;
                a {
                    font-family: $titillium;
                    text-transform: uppercase;
                    color: color('brown', 'dark');
                    font-weight: bold;
                }
            }
        }
    }
    .c-footer__contact {
        p, a {
            font-size: 18px;
            font-family: $titillium;
            color: color('brown', 'dark');
            font-weight: bold;
        }
        img {
            padding-right: 5px;
            float: left;
        }
    }
    .c-footer__sponsor {
        ul {
            list-style: none;
            display: table;
            margin: 0px auto;
            width: auto;
            @include media(xs) {
                width: 500px;
            }
            li {
                display: inline-block;
                padding: 0px 15px;
                width: 33%;
                img {
                    display: block;
                    margin: 0px auto;
                }
            }
        }
    }
    .c-footer__rights {
        p, a {
            font-size: 14px;
            color: color('brown', 'dark');
            font-family: $titillium;
            text-align: center;
            line-height: normal;
            font-weight: normal;
        }
    }
}
