header {
    background-image: url(../../dist/images/bg.jpg);
    background-repeat: repeat;
    position: relative;
    z-index: 10;
     &::after {
         content: "";
         width: 100%;
         position: absolute;
         height: 30px;
         background-image: url(../../dist/images/border-bottom.png);
         background-position: bottom;
     }
    .c-header__phone {
        img {
            padding: 0px 10px;
        }
        a {
            position: relative;
            top: 20px;
        }
    }
    .c-header__reserve,
    .c-header__phone {
        display: none;
        @include media(md) {
            display: block;
        }
    }
    hr {
        margin: 0px auto;
    }
    .c-btn {
        display: table;
        margin-left:auto;
        margin-right:0px;
        margin-top: 20px;
    }

}
