// styles for listed items
.c-list {
    list-style: none;
    padding-left: rem(40px);
    margin-bottom: 25px;
}
.c-list li  {
    @include font-size('p');
    color: color('brown', 'dark');
    font-size: rem(16px);
    line-height: 36px;
    margin-bottom: 10px;
    font-family: $titillium;
    @include media(sm) {
        font-size: rem(20px);
    }
    p, a {
        font-weight: 500;
        font-size: rem(20px);
        font-family: $titillium;
    }
}
.c-list li:before {
    content: "•";
    color: color('brown');
    position: absolute;
    margin-left: neg(rem(15px));
    margin-top: rem(0px);
}
