.c-nav {
    display: none;
    @include media(md) {
        display: block;
    }
    ul {
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            padding: 15px 13px;
            @include media-max(lg) {
                padding: 15px 2px;
            }
            a {
                text-align: center;
                font-size: 18px;
                letter-spacing: 1px;
                text-decoration: none;
                color: color('brown', 'dark');
                &:hover {
                    color: color('brown', 'medium');
                }
            }
            .sub-menu {
                display: none;
                position: absolute;
                text-align: left;
                width: rem(100px);
                padding-right: rem(10px);
                margin-top: rem(10px);
                background-color: color('white');
                li {
                    display: block;
                    text-align: left;
                    padding: rem(10px) rem(0px);
                    padding-left: rem(10px);
                }
            }
        }
    }
}
/// Mbile Men
// mobile navigation
.c-header__mobile {
    overflow-x: scroll;
    display: none;
    width: 100%;
    position: fixed;
    z-index: 15;
    height: 100%;
    background-color: color('white');
    margin-top: rem(0px);
    ul {
        position: relative;
        list-style: none;
        margin-top: rem(10px);
        li {
            text-align: center;
            .sub-menu {
                position: relative;
                left: rem(0px);
                margin-left: rem(0px);
                display: block;
                margin-top: rem(0px);
                display: none;
                li {
                    padding: rem(0px) rem(0px);
                    padding-left: rem(10px);
                }
            }
            a {
                text-decoration: none;
                font-size: rem(18px);
                color: color('brown', 'dark');
                line-height: rem(40px);
                text-transform: uppercase;
                &:hover {
                    color: color('orange');
                }
            }
        }
    }
    .c-header__number,
    .c-btn {
        display: table;
        margin: 0px auto;
        margin-top: 15px;
    }
    .c-header__number{
        img {
            padding-right: 15px;
        }
    }
}
