.c-content--main {
    background-image: url(../../dist/images/bg.jpg);
    background-repeat: repeat;
    padding-top: 100px;
    margin-top: -50px;
    position: relative;
    z-index: 6;
    &::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 30px;
        background-image: url(../../dist/images/border-top.png);
        background-position: bottom;
        margin-top: -109px;
    }
    h1 {
        text-align: center;
        font-size: 24px;
        padding-bottom: 15px;
        @include media(md) {
            font-size: 30px;
        }
        &::after {
            content: "";
            width: 300px;
            height: 5px;
            background-image: url(../../dist/images/hr.png);
            background-repeat: no-repeat;
            display: block;
            margin: 10px auto;
        }
    }
}
