h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

h1 {
    @include font-size('h1');
    font-family: $bowlbyone;
    color: color('brown');
    letter-spacing: 1px;
}

h2 {
    @include font-size('h2');
    font-family: $bowlbyone;
    color: color('brown', 'medium');
}

h3 {
    @include font-size('h3');
    font-family: $bowlbyone;
    color: color('brown', 'dark');
}

h4 {
    @include font-size('h4');
    font-family: $bowlbyone;
    color: color('blue');
}

h5 {
    @include font-size('h5');
    font-family: $bowlbyone;
    color: color('brown');
}

h6 {
    @include font-size('h6');
    font-family: $titillium;
    font-weight: 500;
    color: color('brown', 'dark');
}

p {
    @include font-size('p');
    font-family: $titillium;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    color: color('brown', 'dark');
}

a {
    font-family: $bowlbyone;
    text-decoration: none;
    color:color('brown');
}
