///
// Custom fonts
///

// Example
// @font-face {
//  font-family: 'questrialregular';
//  src: url('../../dist/fonts/questrial-regular-webfont.woff2') format('woff2'),
//       url('../../dist/fonts/questrial-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
// }
 @font-face {
font-family: 'BowlbyOne';
src: url('../../dist/fonts/BowlbyOneSC-Regular.ttf');
}
@font-face {
font-family: 'Titillium';
src: url('../../dist/fonts/TitilliumWeb-Regular.ttf');
}
